/* Tag selectors
 * ------------- */
html {
    font-family: arial, sans-serif;
}
a,
a:link {
    color: #3593b1;
    text-decoration: none;
}
a:hover {
    color: #09505b;
}
a:visited,
a:active {
    text-decoration: none;
}
h1,
h2,
h3,
h4 {
    font-family: 'Archivo Narrow', sans-serif;
}
input {
    border: 1px solid #aaa;
}
.left {
    float: left;
}
.right {
    float: right;
}
.clear {
    clear: both;
}
ul {
    padding-left: 15px;
}

/* Menu
 * ---- */
#menu {
    background: black;
    border-top: 4px solid #3593b1;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}
#menu #title h3 a:hover {
    text-decoration: none;
}
#menu #title h3 {
    margin-bottom: 4px;
    margin-top: 0;
}
#menu #title h3 a {
    color: white;
}
#menu #title h3 a:hover {
    color: #3593b1;
}
#menu #share .company {
    float: right;
}
#menu #share img {
    padding-left: 5px;
    width: 30px;
}
#menu #share img:hover {
    opacity: 0.7;
}

/* Content
 * ------- */
.content {
    margin: 0 auto;
    max-width: 1000px;
}

#index {
    padding: 80px 0 40px 0;
}

/* Introduction
 * ------------ */
#intro {
    border-bottom: 1px solid #ddd;
    font-size: 14px;
}
#logos {
    padding: 12px 0;
}
#logos img.logo:hover {
    opacity: .5;
}
#logos img.logo {
    border: 1px solid #eee;
    margin: 2px;
    height: 36px;
}
#stats span {
    font-family: 'Archivo Narrow';
    font-size: 20px;
    font-weight: bold;
}
#stats ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#abstract {
    width: 80%;
}

/* Table
 * ----- */
.dataTables_length,
.dataTables_filter,
.dataTables_info,
.dataTables_paginate,
.paging_simple_numbers {
    font-size: 12px;
}
table thead th {
    font-size: 14px;
}
table tbody td {
    font-size: 13px;
}
table td a {
    color: #3593b1;
    text-decoration: none;
}
table td a:hover {
    color: #09505b;
    text-decoration: underline;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
    background: #ddd;
    border: none !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    background: #3593b1;
    color: white !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background-color: #00B0E4;
    background: #00B0E4;
}
.dataTables_wrapper .dataTables_filter {
    float: none;
    text-align: center;
}
.dataTables_wrapper .dataTables_filter label {
    font-family: 'Archivo Narrow';
    font-size: 20px;
    font-weight: bold;
    margin: 40px 0;
}
.dataTables_wrapper .dataTables_filter input {
    height: 30px;
    position: relative;
    top: -2px;
    width: 500px;
}
table.dataTable tbody th, table.dataTable tbody td {
    border-bottom: 1px solid #eee;
}
table.dataTable thead th {
    font-family: 'Archivo Narrow';
    font-size: 16px;
}
a.icon-link {
    color: #333;
    font-size: 15px;
}
a.icon-link:hover {
    color: #09505b;
}

/* Pages
 * ----- */
.page {
    margin-top: 80px;
}
.page h4 {
    font-weight: bold;
}

/* Footer
 * ------ */
#footer {
    border-top: 3px solid #eee;
    bottom: 0;
    padding: 15px;
    width: 100%;
}
#footer a,
#footer a:link,
#footer a:visited {
    color: black;
    font-weight: bold;
}
#footer a:hover {
    color: #3593b1;
}
#footer ul {
    list-style-type: none;
    padding: 0;
}
#footer li {
    display: inline-block;
}
#footer li.first {
    padding-right: 15px;
}
