<% var base_url = "http://www.ncbi.nlm.nih.gov/pubmed/"; %>

<h2><%= resource_name %></h2>
<section>
    <h4>Resource</h4>
    <p><%= resource_description %></p>
</section>
<section>
    <h4>Data Description</h4>
    <p><%= data_description %></p>
</section>
<section>
    <h4>Association</h4>
    <p><%= association %></p>
</section>
<section>
    <h4>Attribute</h4>
    <p><%= attribute %></p>
</section>
<section>
    <h4>Citation(s)</h4>
    <ul>
        <% _.each(publication, function(pub) { %>
            <li>
                <a href="<%= base_url %><%= pub.pmid %>" target="_blank"><%= pub.citation %></a>
            </li>
        <% }); %>
    </ul>
</section>
<section>
    <h4>Counts</h4>
    <ul>
        <li>Number of genes: <%= number_of_genes %></li>
        <li>Number of attributes: <%= number_of_attributes %></li>
    </ul>
</section>
<section class="downloads">
    <h4>Downloads</h4>
    <table class="table">
        <thead>
            <tr>
                <th>Content</th>
                <th>File</th>
                <th>Downloads</th>
            </tr>
        </thead>
        <tbody>
            <% for (var file in files) { %>
                <%
                    var count = metrics[file + '_dl'];
                    var title = file.split("_");
                    for (var i = 0; i < title.length; i++) {
                        title[i] = title[i].charAt(0).toUpperCase() + title[i].slice(1);
                    }
                    title = title.join(" ");
                %>
                <tr>
                    <td><%= title %></td>
                    <% var gene_list_url = "data/" + directory + "/" + files[file] %>
                    <td>
                        <a data-db="genes_dl" class="icon-link" href="<%= gene_list_url %>" target="_blank">
                            <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
                        </a>
                    </td>
                    <td>
                        <%= count %>
                    </td>
                </tr>
            <% } %>    
        </tbody>
    </table>
</section>
<section>
    <h4>Created</h4>
    <% var date = download_date.year + "/" + download_date.month + "/" + download_date.day; %>
    <p><%= date %></p>
</section>
