<tr>
    <td>
        <a href="<%= resource_url %>"><%= resource_name %>:</a> <%= resource_description %>
        <% var pub_url = "http://www.ncbi.nlm.nih.gov/pubmed/" + publication[0].pmid %>
        (<a href="<%= pub_url %>"><%= publication[0].author %></a>)
    </td>
    <td>
        <%= data_description %> 
    </td>
    <td>
        <%= attribute %> 
    </td>
    <td>
        <%= number_of_genes %>
    </td>
    <td>
        <%= number_of_attributes %>
    </td>
    <td>
        <% if (status === 'ready') { %>
            <% var download_url = "#page/" + directory %>
            <a class="icon-link" href="<%= download_url %>">
                <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
            </a>
        <% } else { %>
            <em>Pending</em>
        <% } %>
    </td>
    <td>
        <%= metrics.page_views %>
    </td>
</tr>
