<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration SYSTEM "classpath://org/hibernate/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.provider_class">org.hibernate.connection.TomcatJDBCConnectionProvider</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.current_session_context_class">thread</property>
		<property name="hibernate.tomcatJdbcPool.validationQuery">SELECT 1</property>
		<property name="hibernate.tomcatJdbcPool.testOnBorrow">true</property>
		<property name="show_sql">true</property>
		<!--<property name="hibernate.hbm2ddl.auto">create</property>-->
		<mapping class="edu.mssm.pharm.maayanlab.Harmonizome.model.Attribute" />
		<mapping class="edu.mssm.pharm.maayanlab.Harmonizome.model.AttributeGroup" />
		<mapping class="edu.mssm.pharm.maayanlab.Harmonizome.model.AttributeSimilarity" />
		<mapping class="edu.mssm.pharm.maayanlab.Harmonizome.model.AttributeType" />
		<mapping class="edu.mssm.pharm.maayanlab.Harmonizome.model.Dataset" />
		<mapping class="edu.mssm.pharm.maayanlab.Harmonizome.model.DatasetGroup" />
		<mapping class="edu.mssm.pharm.maayanlab.Harmonizome.model.DatasetType" />
		<mapping class="edu.mssm.pharm.maayanlab.Harmonizome.model.Download" />
		<mapping class="edu.mssm.pharm.maayanlab.Harmonizome.model.DownloadType" />
		<mapping class="edu.mssm.pharm.maayanlab.Harmonizome.model.Feature" />
		<mapping class="edu.mssm.pharm.maayanlab.Harmonizome.model.Gene" />
		<mapping class="edu.mssm.pharm.maayanlab.Harmonizome.model.GeneSimilarity" />
		<mapping class="edu.mssm.pharm.maayanlab.Harmonizome.model.GeneSynonym" />
		<mapping class="edu.mssm.pharm.maayanlab.Harmonizome.model.HgncRootFamily" />
		<mapping class="edu.mssm.pharm.maayanlab.Harmonizome.model.HgncTerminalFamily" />
		<mapping class="edu.mssm.pharm.maayanlab.Harmonizome.model.IdgFamily" />
		<mapping class="edu.mssm.pharm.maayanlab.Harmonizome.model.IdgTdlClass" />
		<mapping class="edu.mssm.pharm.maayanlab.Harmonizome.model.NamingAuthority" />
		<mapping class="edu.mssm.pharm.maayanlab.Harmonizome.model.Protein" />
		<mapping class="edu.mssm.pharm.maayanlab.Harmonizome.model.Publication" />
		<mapping class="edu.mssm.pharm.maayanlab.Harmonizome.model.Resource" />
	</session-factory>
</hibernate-configuration>