@import "variable.less";

/* Structure all pages to allow for footer. Other styling for these elements is
 * below.
 */
html,
body {
	height: 100%;
}
.wrapper {
	min-height: 100%;
	padding-bottom: @dimension-footer-height;
	position: relative;
}
.footer {
	height: @dimension-footer-height;
}

/* Tag selectors.
 */
html {
    font-family: arial, sans-serif;
}
body {
	/*background-color: @color-background;*/
}
a,
a:link {
    color: @color-primary-light;
    text-decoration: none;
}
a:hover {
    color: @color-primary;
}
a:visited,
a:active {
    text-decoration: none;
}
a.btn {
	color: black;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: @font-family-primary;
    font-weight: @font-weight-primary;
    border-bottom: 1px solid @color-gray-medium;
}
input {
	width: 100%;
}
.clear {
    clear: both;
}
ul {
    padding-left: 15px;
}
button {
	
}

/* Section selectors.
 */
.navbar {
	background-color: @color-primary-dark;
    height: @dimension-nav-height;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    h3 {
    	border: none;
        margin-bottom: 4px;
        margin-top: 0;
        em,
        em:hover {
        	color: @color-primary-very-light;   	
        }
        span {
        	font-size: 19px;
        	margin-left: 10px;
        }
    }
    a {
    	color: white;
    	font-family: @font-family-primary;
    	font-weight: @font-weight-primary;
        text-decoration: none;
        &:hover {
        	color: @color-primary-very-light;
        }
    }
    ul {
    	text-transform: uppercase;
    }
}
@media (max-width: 768px) {
	.navbar {
		h3 {
			span {
				display: none;
			}
		}
	}
}

/* Push all content out from under the fix nav. Do not use "margin-top" because
 * this pushes the sticky footer down as well.
 */
.content {
	position: relative;
	top: @dimension-nav-height;
	padding-bottom: @dimension-footer-height;
}
.footer {
	background: @color-charcoal;
	bottom: 0;
	color: white;
	padding: 13px;
	position: absolute;
	width: 100%;
	ul {
		list-style-type: none;
	}
	li {
		&:first-child {
			margin-right: 10px;
		}
	}
	a {
		color: white;
		font-family: @font-family-primary;
		font-weight: @font-weight-primary;
		&:hover {
			color: @color-primary-very-light;
		}
	}
	#share {
        a {
            float: right;
        }
        img {
            padding-left: 5px;
            width: 30px;
            &:hover {
            	opacity: 0.7;
            }
        }
	}
}
.browse {
	input {
		border: 1px solid @color-gray-medium;
	}
	thead {
		td {
			font-weight: bold;
		}
	}
	.dataTables_filter {
		label {
			font-weight: bold;
		}
	}
	.dataTables_wrapper {
		margin-bottom: 30px;
	}
}
table.entities-by-dataset {
	td {
		vertical-align: middle !important;
	}
	.entity-list {
		display: none;
		td {
			padding-left: 20px !important;
		}
		div {
			padding-bottom: 10px;
		}
	}
	.tools {
		img {
			height: 35px;
		}
	}
}

/* Generic classes
 */
.note {
	font-size: 12px;
	font-style: italic;
}
.glyphicon-search {
	cursor: pointer;
}
.accent {
	color: @color-accent;
}
.instruction {
	font-style: italic;
}
/* The "tooltip" class name is used by Bootstrap.js. */
.tool-tip {
	cursor: pointer;
	.tool-tip-text {
		display: none;
		line-height: 1.1em;
		margin-left: 10px;
	    padding: 10px 15px;
	}
	&:hover {
		.tool-tip-text {
	        display: inline;
	        position: absolute;
	    	border: 1px solid @color-yellow;
	    	background: @color-yellow-light;
	    }
	}
}
.cursor-pointer {
	cursor: pointer;
}
.item-list {
	display: none;
	td {
		padding-left: 20px !important;
	}
	div {
		padding-bottom: 10px;
	}
}

/* Bootstrap overwrites.
 */
.table > tbody > tr:first-child > td {
    border: none;
}
.form-control {
	border-radius: 0;
}
.btn {
	border-radius: 0;
}
.badge {
	background-color: @color-primary-light;
}