@color-primary: #254657;
@color-primary-very-light: #8ad4ed;
@color-primary-light: #599fb7;
@color-primary-dark: #1d3744;
@color-accent: #e15829;

@color-background: #f8fafc;
@color-gray: #666;
@color-gray-medium: #aaa;
@color-gray-light: #eee;
@color-charcoal: #222;

@color-yellow: #fff169;
@color-yellow-light: #fffac7;

@dimension-nav-height: 50px;
@dimension-footer-height: 90px;

@font-weight-primary: 400;
@font-family-primary: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;

/* Georgia, sans-serif; */
/*"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;*/