@color-primary: #3593b1;
@color-primary-light: #599fb7;
@color-primary-dark: #09505b;

@color-gray: #666;
@color-gray-medium: #aaa;
@color-gray-light: #eee;
@color-charcoal: #222;

@dimension-nav-height: 50px;
@dimension-footer-height: 50px;

@font-family-primary: Georgia, sans-serif;/*"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;*/