<div class="navbar navbar-static-top">
	<div class="container">
		<div class="left">
			<h3>
				<a href=""><strong>Harmonizome</strong>: BD2K-LINCS DCIC Processed Datasets</a>
			</h3>
		</div>
		<div class="right">
			<div id="share">
				<a class="company" href="https://www.linkedin.com/shareArticle?url=http://www.maayanlab.net/harmonizome" target="_blank">
					<img src="image/share/linkedin.png">
				</a>
				<a class="company" href="https://plus.google.com/share?url=http://www.maayanlab.net/harmoziome" target="_blank">
					<img src="image/share/google-plus.png">
				</a>
				<a class="company" href="http://www.facebook.com/sharer/sharer.php?u=http://www.maayanlab.net/harmonizome/" target="_blank"> <img src="image/share/facebook.png">
				</a>
				<a class="company" href="http://twitter.com/share" target="_blank">
					<img src="image/share/twitter.png">
				</a>
			</div>
		</div>
	</div>
</div>