<form class="search-bar form-horizontal" action="search" method="GET">
	<select class="filters form-control" name="t">
		<option value="all">All</option>
		<option value="gene">Genes</option>
		<option value="geneSet">Gene Sets</option>
		<option value="dataset">Datasets</option>
	</select>
	<div class="bar">
		<label for="q" class="sr-only">Search</label>
		<input data-provide="typeahead" type="text" class="form-control" name="q">
	</div>
	<div class="submit-button input-group-btn">
		<button type="submit" class="btn btn-default">
			<span class="glyphicon glyphicon-search"></span>
		</button>
	</div>
	<div class="advanced-search input-group-btn">
		<a href="advanced-search" class="btn btn-default">
			<span class="glyphicon glyphicon-cog"></span>
		</a>
	</div>
</form>
<div class="clear"></div>