/* https://color.adobe.com/21-Flat-Business-Icons-color-theme-6339907/?showPublished=true
 * https://color.adobe.com/Aspirin-C-color-theme-251864/?showPublished=true
 */
/* Logo colors */
/* Georgia, sans-serif; */
/*"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;*/
/*body {
	background-image: url(http://localhost:8080/Harmonizome/image/harmonizome-01.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}*/
/*.portal {
	background: white;
	border: 1px solid @color-gray-light;
	margin-top: 10%;
	opacity: .8;
	padding: 10px;
	width: 60%;
	a {
		color: black;
	}
}*/
@media (max-width: 768px) {
  .portal {
    margin-top: 0% !important;
    margin-bottom: 10%;
    width: 100% !important;
  }
}
.col-fixed-200 {
  display: inline-block;
  height: 100%;
  width: 200px;
}
.resource {
  background-color: white;
  border: 1px solid #eeeeee;
  height: 100px;
  margin-bottom: 20px;
  padding: 20px;
}
.resource h4 {
  margin-top: 0;
}
.resource h4 a {
  display: inline-block;
  width: 65%;
}
.resource h4 .count {
  color: #38829b;
  float: right;
  font-size: 12px;
  text-align: right;
  text-transform: uppercase;
  width: 35%;
}
.resource h4 .logo {
  border: 1px solid #eeeeee;
  display: inline-block;
  height: 50px;
  width: 30%;
  overflow: hidden;
}
.resource .labels {
  position: absolute;
  bottom: 40px;
}
.resource .labels .label {
  color: white;
  display: inline-block;
  font-size: 12px;
  margin-right: 4px;
  padding: 2px 5px;
}
.resource .labels .structural-or-functional-annotations {
  background: #e65848;
}
.resource .labels .proteomics {
  background: #fdc536;
}
.resource .labels .physical-interactions {
  background: #2f77a3;
}
.resource .labels .transcriptomics {
  background: #2ab69d;
}
.resource .labels .genomics {
  background: #8be3e8;
}
.resource .labels .disease-or-phenotype-associations {
  background: #eb7f00;
}
@media (max-width: 768px) {
  .resource {
    height: auto;
  }
}
