/* Georgia, sans-serif; */
/*"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;*/
/* Structure all pages to allow for footer. Other styling for these elements is
 * below.
 */
html,
body {
  height: 100%;
}
.wrapper {
  min-height: 100%;
  padding-bottom: 90px;
  position: relative;
}
.footer {
  height: 90px;
}
/* Tag selectors.
 */
html {
  font-family: Arial, sans-serif;
}
body {
  /*background-color: @color-background;*/
}
a,
a:link {
  color: #38829b;
  text-decoration: none;
}
a:hover {
  color: #254657;
}
a:visited,
a:active {
  text-decoration: none;
}
a.btn {
  color: black;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  border-bottom: 1px solid #aaaaaa;
}
input {
  width: 100%;
}
.clear {
  clear: both;
}
ul {
  padding-left: 15px;
}
/* Section selectors.
 */
.navbar {
  background-color: #1d3744;
  height: 50px;
  padding: 10px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}
.navbar h3 {
  border: none;
  margin-bottom: 4px;
  margin-top: 0;
}
.navbar h3 em,
.navbar h3 em:hover {
  color: #8ad4ed;
}
.navbar h3 span {
  font-size: 19px;
  margin-left: 10px;
}
.navbar a {
  color: white;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  text-decoration: none;
}
.navbar a:hover {
  color: #8ad4ed;
}
.navbar ul {
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .navbar h3 span {
    display: none;
  }
}
/* Push all content out from under the fix nav. Do not use "margin-top" because
 * this pushes the sticky footer down as well.
 */
.content {
  position: relative;
  top: 50px;
  padding-bottom: 90px;
}
.footer {
  background: #222222;
  bottom: 0;
  color: white;
  padding: 13px;
  position: absolute;
  width: 100%;
}
.footer ul {
  list-style-type: none;
}
.footer li:first-child {
  margin-right: 10px;
}
.footer a {
  color: white;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
}
.footer a:hover {
  color: #8ad4ed;
}
.footer #share a {
  float: right;
}
.footer #share img {
  padding-left: 5px;
  width: 30px;
}
.footer #share img:hover {
  opacity: 0.7;
}
.table .tools img {
  height: 35px;
}
.attribute-list {
  display: none;
}
/* Generic classes
 */
.note {
  font-size: 12px;
  font-style: italic;
}
.highlight {
  color: #fff169;
}
.glyphicon-search {
  cursor: pointer;
}
.accent {
  color: #e15829;
}
.instruction {
  font-style: italic;
}
/* The "tooltip" class name is used by Bootstrap.js. */
.tool-tip {
  cursor: pointer;
}
.tool-tip .tool-tip-text {
  display: none;
  line-height: 1.1em;
  margin-left: 10px;
  padding: 10px 15px;
}
.tool-tip:hover .tool-tip-text {
  display: inline;
  position: absolute;
  border: 1px solid #fff169;
  background: #fffac7;
}
.cursor-pointer {
  cursor: pointer;
}
.item-list {
  display: none;
}
.item-list td {
  padding-left: 20px !important;
}
.item-list div {
  padding-bottom: 10px;
}
/* Bootstrap overwrites.
 */
.table > tbody > tr:first-child > td {
  border: none;
}
.form-control {
  border-radius: 0;
}
.btn {
  border-radius: 0;
}
.badge {
  background-color: #38829b;
}
/* jQuery UI overwrites.
 */
.ui-autocomplete {
  background: white;
  border-radius: 0px;
}
.ui-autocomplete.source:hover {
  background: #454545;
}
.ui-widget-content .ui-menu-item {
  font-size: 12px;
  font-family: Arial, sans-serif;
}
.ui-widget-content .ui-menu-item.ui-state-focus {
  background: #eeeeee;
  border: 1px solid #aaaaaa;
  color: #38829b;
  font-weight: normal;
}
/* DataTable overwrites.
 */
.dataTables_filter label {
  font-weight: bold !important;
}
.dataTables_wrapper {
  margin-bottom: 30px;
}
.dataTables_wrapper input {
  border: 1px solid #aaaaaa;
}
.dataTables_wrapper thead td {
  font-weight: bold;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  border-radius: 0;
}
.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
  background-color: #38829b;
  border-color: #38829b;
}
.pagination > li > a,
.pagination > li > span {
  color: #254657;
}
