/* https://color.adobe.com/21-Flat-Business-Icons-color-theme-6339907/?showPublished=true
 * https://color.adobe.com/Aspirin-C-color-theme-251864/?showPublished=true
 */
/* Logo colors */
/* Georgia, sans-serif; */
/*"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;*/
/* Structure all pages to allow for footer. Other styling for these elements is
 * below.
 * ------------------------------------------------------------------------- */
html,
body {
  height: 100%;
}
.wrapper {
  min-height: 100%;
  padding-bottom: 90px;
  position: relative;
}
.footer {
  height: 90px;
}
/* Push all content out from under the fix nav. Do not use "margin-top" because
 * this pushes the sticky footer down as well.
 */
.content {
  position: relative;
  top: 50px;
  padding-bottom: 90px;
}
/* Tag selectors.
 * ------------------------------------------------------------------------- */
html {
  font-family: Arial, sans-serif;
}
a,
a:link {
  color: #1a0dab;
  text-decoration: none;
}
a:hover {
  color: #1a0dab;
  text-decoration: underline;
}
a:visited,
a:active {
  text-decoration: none;
}
a.btn {
  color: black;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  border-bottom: 1px solid #aaaaaa;
}
input {
  width: 100%;
}
.clear {
  clear: both;
}
ul {
  padding-left: 15px;
}
/* Section selectors.
 * ------------------------------------------------------------------------- */
.navbar {
  background-color: #343844;
  height: 50px;
  padding: 10px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}
.navbar h1 {
  border: none;
  font-size: 25px;
  margin-bottom: 4px;
  margin-top: 0;
}
.navbar h1 span.credits {
  font-family: Georgia, sans-serif;
  font-size: 19px;
  margin-left: 10px;
}
.navbar h1 a:hover {
  text-decoration: none;
}
.navbar img {
  bottom: 2px;
  position: relative;
  margin-right: 14px;
}
.navbar a {
  color: white;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
}
.navbar a:hover {
  color: #eeeeee;
}
.navbar ul {
  /* Line up with title text */
  position: relative;
  top: 3px;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .navbar h3 span {
    display: none;
  }
}
.footer {
  background: #eeeeee;
  bottom: 0;
  color: #444444;
  padding: 13px;
  position: absolute;
  width: 100%;
}
.footer ul {
  list-style-type: none;
}
.footer li:first-child {
  margin-right: 10px;
}
.footer a {
  color: #444444;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
}
.footer a:hover {
  color: #eeeeee;
}
.footer #share a {
  float: right;
}
.footer #share img {
  padding-left: 5px;
  width: 30px;
}
.footer #share img:hover {
  opacity: 0.7;
}
#landing {
  margin-top: 100px;
}
#landing h1 {
  border: none;
  font-size: 40px;
}
#landing .instruction {
  bottom: 2px;
  color: #444444;
  font-style: normal;
  margin-right: 14px;
  position: relative;
}
.project-title {
  font-family: Georgia, sans-serif;
}
.table .tools img {
  height: 35px;
}
.attribute-list {
  display: none;
}
.dataset-row td {
  vertical-align: middle !important;
}
.attribute-page h2 .badge {
  position: relative;
  bottom: 3px;
}
.item-list {
  display: none;
}
.item-list td {
  padding-left: 20px !important;
}
.item-list div {
  padding-bottom: 10px;
}
.search-description {
  color: #666666;
}
/* Generic classes
 * ------------------------------------------------------------------------- */
.note {
  font-size: 14px;
  font-style: italic;
}
.glyphicon-search {
  cursor: pointer;
}
.instruction {
  font-style: italic;
}
/* The "tooltip" class name is used by Bootstrap.js. */
.tool-tip {
  cursor: pointer;
}
.tool-tip .tool-tip-text {
  display: none;
  line-height: 1.1em;
  margin-left: 10px;
  padding: 10px 15px;
}
.tool-tip:hover .tool-tip-text {
  display: inline;
  position: absolute;
  border: 1px solid #fff169;
  background: #fffac7;
}
.cursor-pointer {
  cursor: pointer;
}
.top-buffer {
  margin-top: 20px;
}
.bottom-buffer {
  margin-bottom: 20px;
}
/* Bootstrap overwrites.
 * ------------------------------------------------------------------------- */
.table > tbody > tr:first-child > td {
  border: none;
}
.form-control {
  border-radius: 0;
}
.btn {
  border-radius: 0;
}
.badge {
  background-color: #eeeeee;
  border-radius: 0;
  color: #444444;
}
.badge.dataset {
  background-color: #e65848;
}
.badge.gene {
  background-color: #2ab69d;
}
.badge.attribute {
  background-color: #2f77a3;
}
.badge a {
  color: white;
}
/* jQuery UI overwrites.
 * ------------------------------------------------------------------------- */
.ui-autocomplete {
  background: white;
  border-radius: 0px;
}
.ui-autocomplete.source:hover {
  background: #454545;
}
.ui-widget-content .ui-menu-item {
  font-size: 12px;
  font-family: Arial, sans-serif;
}
.ui-widget-content .ui-menu-item.ui-state-focus {
  background: #eeeeee;
  border: 1px solid #aaaaaa;
  color: #4aabcc;
  font-weight: normal;
}
/* DataTable overwrites.
 * ------------------------------------------------------------------------- */
.dataTables_filter label {
  font-weight: bold !important;
}
.dataTables_wrapper {
  margin-bottom: 30px;
}
.dataTables_wrapper input {
  border: 1px solid #aaaaaa;
}
.dataTables_wrapper thead td {
  font-weight: bold;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  border-radius: 0;
}
.pagination > li > a,
.pagination > li > span {
  border-color: #eeeeee;
}
.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
  background-color: #eeeeee;
  border-color: #eeeeee;
  color: #444444;
}
.pagination > li > a,
.pagination > li > span {
  color: #1a0dab;
}
@media (max-width: 767px) {
  div.dataTables_wrapper > div.row > div,
  div.dataTables_length,
  div.dataTables_filter,
  div.dataTables_info,
  div.dataTables_paginate {
    text-align: left;
  }
}
