/*
 * Common styling across every page.
 */
/* https://color.adobe.com/21-Flat-Business-Icons-color-theme-6339907/?showPublished=true
 * https://color.adobe.com/Aspirin-C-color-theme-251864/?showPublished=true
 * https://color.adobe.com/Ventana-Azul-color-theme-2159606/?showPublished=true
 */
/* Logo colors */
/* The logo color is 36B1BF; this is slightly too light for text. */
/* Structure all pages to allow for footer. Other styling for these elements is
 * below.
 * ------------------------------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 140px;
}
.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 140px;
  width: 100%;
}
.wrapper {
  padding-bottom: 20px;
}
/* Tag selectors.
 * ------------------------------------------------------------------------- */
html {
  font-family: Arial, sans-serif;
}
a,
a:link {
  color: #1a0dab;
  text-decoration: none;
}
a:hover {
  color: #1a0dab;
  text-decoration: underline;
}
a:visited,
a:active {
  text-decoration: none;
}
a.btn {
  color: black;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
h1,
h2,
h3 {
  border-bottom: 1px solid #aaaaaa;
  font-weight: 300;
}
h4,
h5,
h6 {
  font-weight: 500;
}
input {
  width: 100%;
}
ul {
  list-style-type: square;
  padding-left: 15px;
}
table ul,
table ol {
  margin-bottom: 0;
}
strong {
  font-weight: 500;
}
/* Generic classes
 * ------------------------------------------------------------------------- */
.clear {
  clear: both;
}
.note {
  font-size: 14px;
  font-style: italic;
  font-weight: 500;
}
.note.dataset {
  color: #309fab;
}
.note.gene {
  color: #ed8c2b;
}
.note.gene-set {
  color: #ec1e8e;
}
.glyphicon-search {
  cursor: pointer;
}
.instruction {
  font-style: italic;
}
.cursor-pointer {
  cursor: pointer;
}
.top-buffer {
  margin-top: 20px;
}
.bottom-buffer {
  margin-bottom: 20px;
}
.initial:first-letter {
  text-transform: uppercase;
}
.capitalize {
  text-transform: capitalize;
}
.underline {
  text-decoration: underline !important;
}
/* Show once DataTables is ready. */
.data-table {
  display: none;
}
.no-padding {
  padding: 0;
}
/* Section selectors.
 * ------------------------------------------------------------------------- */
#navbar-wrapper {
  background-color: #343844;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  height: 50px;
  padding: 10px;
  /* Important! Otherwise the dropdown menu doesn't work!
     * See: http://stackoverflow.com/a/16156332/1830334
     */
  position: relative;
}
#navbar-wrapper h1 {
  border: none;
  font-size: 25px;
  margin-bottom: 4px;
  margin-top: 0;
}
#navbar-wrapper h1 span.credits {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 20px;
  margin-left: 10px;
}
#navbar-wrapper h1 a:hover {
  text-decoration: none;
}
#navbar-wrapper img {
  bottom: 2px;
  position: relative;
  margin-right: 14px;
}
#navbar-wrapper a {
  color: white;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
}
#navbar-wrapper a:hover,
#navbar-wrapper a:active {
  color: #eeeeee;
  background-color: #343844;
}
#navbar-wrapper .navbar-nav.list-inline a {
  padding: 0 1px;
}
#navbar-wrapper .navbar-toggle {
  padding: 0;
}
#navbar-wrapper .navbar-toggle span {
  background-color: white;
}
#navbar-wrapper ul {
  /* Line up with title text */
  position: relative;
  top: 7px;
  text-transform: uppercase;
}
#navbar-wrapper .search {
  bottom: 6px;
  float: left;
  left: 20px;
  position: relative;
  width: 25%;
  top: -2px;
}
#navbar-wrapper #menu {
  background-color: #343844;
  margin-bottom: 20px;
}
@media (max-width: 1200px) {
  #navbar-wrapper h1 .credits {
    display: none;
  }
}
@media (max-width: 1000px) {
  #navbar-wrapper h1 .project-title {
    display: none;
  }
}
@media (max-width: 768px) {
  #navbar-wrapper #menu {
    width: 100%;
  }
  #navbar-wrapper #menu a {
    padding: 2px 5px;
  }
  #navbar-wrapper #menu a:hover,
  #navbar-wrapper #menu afocus {
    background-color: #61697f;
  }
  #navbar-wrapper #menu li {
    padding: 5px 10px;
  }
  #navbar-wrapper .search-bar .entity-dropdown {
    display: none;
  }
  #navbar-wrapper ul {
    top: 0;
  }
}
.search-bar.on-index-page {
  margin: 0 auto;
  width: 600px;
}
.search-bar.in-navbar {
  float: left;
  margin: 0 0 0 10px;
  position: relative;
  bottom: 2px;
}
.search-bar form {
  width: 100%;
  display: inline-block;
}
.search-bar .input-bar {
  overflow: hidden;
}
.search-bar .input-bar input {
  /* Remove double border from Bootstrap form-controls. */
  border-left: none;
  border-right: none;
  width: 100%;
}
.search-bar .entity-dropdown {
  float: left;
}
.search-bar .entity-dropdown.gene {
  border: 2px solid #ed8c2b;
  width: 80px;
}
.search-bar .entity-dropdown.geneSet {
  border: 2px solid #ec1e8e;
  width: 105px;
}
.search-bar .entity-dropdown.dataset {
  border: 2px solid #309fab;
  width: 95px;
}
.search-bar .entity-dropdown.all {
  /* Don't use a variable for CCC. This is explicitly matching Bootstrap. */
  border: 1px solid #ccc;
  width: 55px;
}
.search-bar .submit-button {
  float: right;
  background: lightblue;
  width: 40px;
}
@media (max-width: 768px) {
  .search-bar.on-index-page {
    width: 100%;
  }
}
@media (max-width: 375px) {
  .search-bar.in-navbar .input-bar {
    width: 120px;
  }
}
.footer {
  background: #eeeeee;
  color: #444444;
  padding: 13px;
  width: 100%;
}
.footer ul {
  list-style-type: none;
  padding: 0;
}
.footer a {
  color: #444444;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
}
.footer p {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.footer #share a {
  float: right;
}
.footer #share img {
  padding-left: 5px;
  width: 30px;
}
.footer #share img:hover {
  opacity: 0.7;
}
.footer #contact .last {
  border-left: 1px solid #aaaaaa;
  padding-left: 8px;
}
@media (max-width: 615px) {
  .hide-on-mobile {
    display: none;
  }
}
@media (max-width: 464px) {
  .footer #contact .last {
    border-left: none;
    padding-left: 5px;
  }
}
.project-title {
  font-family: Georgia, sans-serif;
}
