.cursor-pointer {
  cursor: pointer;
}
.attribute-list {
  display: none;
}
/*.attribute-list {
    height: 0;
    line-height: 0;
    opacity: 0; 
    overflow: hidden;
    transition: opacity 1s ease-out;
    &.active {
    	opacity: 1;
    	height: auto;
    }
}*/
