/* Georgia, sans-serif; */
/*"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;*/
body {
  background-image: url(http://localhost:8080/Harmonizome/image/harmonizome-01.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.portal {
  background: white;
  border: 1px solid #eeeeee;
  margin-top: 10%;
  opacity: .8;
  padding: 10px;
  width: 60%;
}
.portal a {
  color: black;
}
@media (max-width: 768px) {
  .portal {
    margin-top: 0% !important;
    margin-bottom: 10%;
    width: 100% !important;
  }
}
