<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>Harmonizome</display-name>

    <welcome-file-list>
        <welcome-file>/template/index.jsp</welcome-file>
    </welcome-file-list>

    <filter>
        <filter-name>CorsFilter</filter-name>
        <filter-class>edu.mssm.pharm.maayanlab.Harmonizome.filter.CORSFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CorsFilter</filter-name>
        <url-pattern>/api/1.0/suggest</url-pattern>
        <url-pattern>/api/1.0/search</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>documentation.jsp</servlet-name>
        <jsp-file>/template/documentation.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>documentation.jsp</servlet-name>
        <url-pattern>/documentation</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>globalHeatMap.jsp</servlet-name>
        <jsp-file>/template/globalHeatMap.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>globalHeatMap.jsp</servlet-name>
        <url-pattern>/visualize/heat_map/global</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>mobile.jsp</servlet-name>
        <jsp-file>/template/mobile.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>mobile.jsp</servlet-name>
        <url-pattern>/mobile</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>terms.jsp</servlet-name>
        <jsp-file>/template/terms.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>terms.jsp</servlet-name>
        <url-pattern>/terms</url-pattern>
    </servlet-mapping>
    
    <error-page>
        <error-code>404</error-code>
        <location>/template/404.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/template/500.jsp</location>
    </error-page>
</web-app>